#wrapper{width:80%;
margin-left: auto;
margin-right: auto;
background-color:#EAEAEA;}

header{background-color: #CCCCFF;}

h1{margin:0; padding: 10px;}

nav{float: left;
width: 90px;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: large;}

main{margin-left: 100px;
padding: 10px;
background-color: #ffffff;}

footer{text-align: center;
font-style: italic;
background-color: #CCCCFF;}

nav ul{list-style-type: none;}
nav a{text-decoration: none;}
nav { position: fixed;}



body {background-color:#EAEAEA;}
