<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}" />
    {% endif %}
    {{ seo }}
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	
	
</head>


<body>
	<div id="wrapper">
	
		<header><b>Haoran Lin's Portfolio</b></header>
	    
		<style>
	    .wrapper {width: 80%;
		margin-left: auto;
		margin-right: auto;
		background-color: white;}
	    .floatclear{clear:left;}
	    </style>
		
		<div>
		<nav>
            
            <br><a class="button" href="#about">About Haoran</a></br>
            <br><a class="button" href="#Portfolio">Portfolio</a></br>
            <br><a class="button" href="#contact">Contact Me</a></br>

		</nav>
	</div><!-- end header -->

	<div>
<main>
	<section id="about">  <!-- then we are on the right post -->
		<div>
		<h1>About me</h1>
			<hr>
		</div>
		<p class="p1"> Hi, I'm Haoran, a User Experience Designer, you can also call me Eddie. I'm currently studying at Wilfrid Laurier University, and I have been studying UX for 2 years. What really makes me want to become a UXer is the world around us, especially back home in China. There are a lot of things and design product in our lives that just doesn't make sense and feel strange to use. I want to improve some elements around us and make things feel more pleasant for users. UX is a very interesting field overall, I would encourage more students who wants to improve things around us to join our UX program.</p>
		</Section>	
           
	<section id="Portfolio">
		<div>
			<br><h1>My Portfolio</h1></br>
		<hr>
		</div>
	<div>
	</div>
              
                {% if current.thumbnail %}
                    <img src="{{ current.thumbnail }}" alt="{{ current.title }}" title="{{ current.title }}" />
                <br>{% endif %}</br>
                <div id="title">
                    <h1>{{ current.title }}</h1>
                    <hr>
                </div>
                {{ current.content }}

            <div>
	    </div>

                {% for post in site.posts limit: 5 %}
                    {% if post.id == current.id %}
                        {% continue %}
                    {% endif %}
                    <a href="{{ post.url }}">
                    
			    <div>
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                    {% endif %}
                   	
			<div id="title">
                        <h1>{{ post.title }}</h1>
                        <hr>
                    
				    </div>

                    {{ post.content }}
                    </div>
                    </a>

                {% endfor %}
           
	</Section>
		<section id="contact">
                        <div id="contact">
                            <h1>Contact Me</h1>
                            <hr>
			<p class="p1"> E-mail Address: <a href="mailto:hr.edward.lin@gmail.com">hr.edward.lin@gmail.com</a></p>
                        </div>
	
	</section>
	</main>
<footer>
	<h1>Reference</h1>
	<hr>
	<p class="p4">Edwards, E. B. Pattern and Design with Dynamic Symmetry: How to Create Art Deco Geometric Designs. Dover, 1967.</p>
	<p class="p4">Gobble, MaryAnne M. "Design Thinking." Research Technology Management, vol. 57, no. 3, 2014, pp. 59-61. ProQuest, https://libproxy.wlu.ca/login?url=https://search-proquest-com.libproxy.wlu.ca/docview/1535264096?accountid=15090.</p>
	<p class="p4">Koprowska, J. Communication and Interpersonal Skills in Social Work. LearningMatters, 2008.</p>
</footer>		
	
	
	<script>
		if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
	</script>
	{% if site.google_analytics %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
	</script>
	{% endif %}
    {% if page.id %}
        <script>
            window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#{{ page.id }}"
        </script>
    {% endif %}

</body>

</html>
